{% extends 'django_cowhite_blog/base.html' %}

{% load humanize %}

{% block meta_title %}
Blog
{% endblock %}

{% block content %}
<div class='heading'>Blog</div>

{% for blog in blog_posts %}
<div class='blog'>
  <div class='title'>
    <a class='read-more' href="{% url 'django-cowhite-blog:blog-post' blog.slug %}">
    {{ blog.title }}</a>
  </div>
  <div class='author-info'>Posted by {{ blog.author.first_name }} {{ blog.created_at|naturaltime }}</div>
  <div class='post-summary'>
    {{ blog.seo_description|safe }}
  </div>
  <div>
    <a class='read-more' href="{% url 'django-cowhite-blog:blog-post' blog.slug %}">Read more</a>
  </div>
</div>
{% endfor %}


<nav aria-label="Pagination">
  <ul class="pagination">
    {% if blog_posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ blog_posts.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="#">
      Page {{ blog_posts.number }} of {{ blog_posts.paginator.num_pages }}.
      </a>
    </li>
    {% if blog_posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ blog_posts.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}